*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fdf9f7;
    --secondary-color: #0c0c0c;
}

.dark-theme{
    --primary-color: #0c0c0c;
    --secondary-color: #fdf9f7;
}

html{
    font-size: calc(100vw / 1920 * 10);
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    position: relative;
    color: var(--secondary-color);
}

#team {
    max-width: 100%;
}

.trail{
    @media (max-width: 768px) {
        display: none;
    }
}

.loader{
    width: 100vw;
    height: 100vh;
}

.loader-clip{
    position: absolute;
    width: 100vw;
    height: 33.3vh;
    overflow: clip;
    z-index: 10000;
}

.clip-top{
    top: 0;
    clip-path: inset(0 0 0 0);
    background: var(--secondary-color);
}

.clip-bottom{
    bottom: 0;
    clip-path: inset(0 0 0 0);
    background: var(--secondary-color);
}

.clip-center{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 33.3vh;
    top: 33.3vh;
}

.marquee {
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200vw;
    color: var(--primary-color);
    mix-blend-mode: difference;
    font-size: 12vw;
}

.clip-center .marquee{
    color: var(--secondary-color);
}

.marquee-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Courier Prime", monospace;
}

.container{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    font-family: "Neue Montreal", sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
}

.topbar{
    position: absolute;
    top: 0;

}

.container, .footer, .topbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2em 4em;

    @media (max-width: 533px) {
        padding: 1em 2em;
    }
}



.footer{
    @media (max-width: 768px) {
        padding: 0;
    }
}

ul,li{
    padding: 0;
    list-style-type: none;
    display: flex;
}

.langs > li{
  border-right: 1px solid var(--secondary-color);
    padding-right: 10px;
    margin-right: 10px;

}

.langs > li:last-child{
    border-right: none;
}



/* cursor */

svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

path{
    fill: none;
    stroke-width: 50;
    stroke-linecap: round;
    stroke-linejoin: round;
}


/* navigation */

::placeholder {
    font-family: "Courier Prime", serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

i {
    color: var(--secondary-color);
}

input{
    font-family: "Courier Prime", serif;
    font-weight: 400;
    border: none;
    outline: none;
    background: var(--primary-color);
    padding: 0.25em 0.75em 0.3em 0.75em;
}

.submit-button{
    background: var(--primary-color);
    color: var(--secondary-color);
    height: 40px;

    @media (max-width: 768px) {
        height: 30px;
        font-size: 10px;
        width: 58px;
        padding: 0;
    }
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: var(--secondary-color);
    clip-path: polygon(
        49.75% 49.75%,
        50.25% 49.75%,
        50.25% 49.75%,
        49.75% 50.25%
    );

    pointer-events: none;
    opacity: 0;
}

.logo{
    text-transform: uppercase;
    font-family: "Courier Prime", serif;
    font-size: 80px;
    color: var(--primary-color);

    @media (max-width: 400px) {
        font-size: 50px;
    }
}

.langs{
    z-index: 12;
}

.langs a{
    color: var(--secondary-color);
    display: block;
}

.close-btn{
    position: relative;
    top: -0.5em;
    width: 50px;
    height: 40px;
}

.close-btn:before{
    content: "";
    background: var(--primary-color);
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
}
.close-btn:after{
    content: "";
    top: 0;
    left: 0;
    transform: rotate(45deg);
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--primary-color);
}

.col{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;

    @media (max-width: 400px) {
        padding: 5px;
    }
}

.col-image{
    background: url("images/nav-img-dark.jpg") center center no-repeat;
    background-size: cover;

    @media (max-width: 781px) {
        display: none;
    }
}

.col-image.dark{

    background: url("images/nav-img.jpg") center center no-repeat;
    background-size: cover;
}


.col .logo, .col .tagline{
    flex: 2;
}

.col .tagline{
    display: flex;
    gap: 7em;
    padding: 1em 0;
}

button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.35em 0.75em 0.4em 0.75em;
    border: none;
    outline: none;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 70%, 90% 100%, 30% 100%, 0 100%, 0% 100%);
    font-family: "Courier Prime", serif;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    z-index: 1000;
    transition: .2s all ease-in-out;
}

button:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5px;
    width: 5px;
    background-color: black;
}

.toggle,
.close-btn{
    cursor: pointer;
    position: fixed;
    top: 25px;
    right: 55px;
    /*right: 20px;*/
    z-index: 11;
    border: 1px solid black;

    @media (max-width: 533px) {
        top: 10px;
        right: 25px;
    }
}



.theme{
    margin: 0;
    z-index: 10;
    cursor: pointer;
    background-color: var(--secondary-color);
}

.white-bg{
    background-color: #fff;
    color: #000 !important;
    border: 1px solid black;
}

.opacity{
    opacity: 0;
}

.divider{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5px;
    height: 0%;
    background: var(--primary-color);

    @media (max-width: 781px) {
        display: none;
    }
}

.nav-container{
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    z-index: 10;
}

.whitespace{
    width: 100%;
    height: 80px;
}

.item{
    display: flex;
    border-top: 1px dashed var(--primary-color);
    padding: 1em;
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-size: 16px;

    @media (max-width: 400px) {
        padding: 1em 0;
        text-align: center;
        align-items: center;
    }
}

.col-1{
    flex: 2;
    color: #8a8a8a;
    text-transform: lowercase;
}

.col-2{
    flex: 4;
}

.connect, .legal, .newsletter{
    flex: 1;
}

.about{
    flex: 10;
}

.link{
    position: relative;
    top: -5px;
}

.about .col-2 a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 42px;

    @media (max-width: 400px) {
        font-size: 30px;
    }
}

.col-2 span a{

    @media (max-width: 1680px) {
        font-size: 14px;
    }
    @media (max-width: 810px) {
        font-size: 12px;
    }
    @media (max-width: 782px) {
        font-size: 13px;
    }
    @media (max-width: 400px) {
        font-size: 10px;
    }

}

.col-1{
    @media (max-width: 1280px) {
        display: none;
    }
}

.langs li{
    cursor: pointer;
    z-index: 1;
}

/* letters */

.letters{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    z-index: 0;

    @media (max-width: 768px) {
        display: none;
    }
}

.section_container{
    display: flex;
    width: 100%;
    height: inherit;
}

.section_col{
    position: relative;
    width: 60rem;
    border-right: 1px solid #d9d9d9;
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    transition: .2s all ease-in-out;
    overflow: hidden;
}

.section_col:last-child{
    border: none;
}

.section_col.active{
    width: 200rem;
    transition: .2s all ease-in-out;
    transform-origin: left;
}

.section_col.active .section_col_media {
    opacity: 1;
    transition: .2s all ease-in-out;
}

.section_col_media{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;

    transition: .2s all ease-in-out;
}

.section_col_media::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: var(--primary-color);
    opacity: 0.4;
}

img.section_col_image{
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

img{
    max-width: 100%;
}

.section_col_caption{
    text-align: center;
    width: 24rem;
    font-size: 2rem;

}


.section_col_title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 12rem;
    line-height: 0.8;
}

.letters h1{
    font-size: 25rem;
}

h2{
    font-family: "Courier Prime", serif;
    font-size: 2rem;
    text-transform: uppercase;
}
.letters h2{
    font-size: 3rem;
}

/* projects */

.projects{
    position: relative;
    padding-bottom: 60px;

    @media (max-width: 768px) {
        padding: 30px 0 60px;
        border-top: 1px solid #eee;
    }
}

.nav{
    /*position: absolute;*/
    margin-top: 5rem;
    left: 0;
    top: -25%;
    width: 100%;
    padding: 6.4rem 3.2rem 4rem;
    font-size: 3rem;
    overflow: hidden;

    @media (max-width: 768px) {
        font-size: 20px;
    }
    @media (max-width: 400px) {
        font-size: 16px;
    }
}

.nav_list{
    display: flex;
    width: 100%;
    gap: 1.6rem;
    grid-area: 1/1/2/2;
    font-family: "Courier Prime", serif;

    @media (max-width: 400px) {
       gap: 10px;
    }
}
.nav_list_item{
    cursor: pointer;

    @media (max-width: 400px) {
        font-size: 14px;
    }
}
.nav_list_item.active{
    text-decoration: underline;
}
.nav_description{
    grid-area: 1/2/2/3;
}
.nav_description p{
    margin-bottom: 1.6rem;

    @media (max-width: 768px) {
        margin-bottom: 10px;
    }

}
.view{
    position: relative;
    width: 100%;
    margin-top: 5rem;
    padding: 2rem;
    overflow: hidden;
    font-family: "Courier Prime", serif;
}
.view_item{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: max-content;
    cursor: pointer;

    @media (max-width: 768px) {
        margin: 10px 0;
    }
}
.view_info{
    display: inherit;
    gap: inherit;

}
.view_info_text span{
    display: block;

    @media (max-width: 768px) {
        display: none;
    }
}
.view_info_media{
    display: flex;
    gap: 1rem;


}
.view_info_media_image{
    position: relative;
    width: 9rem;
    height: 9rem;
    object-fit: cover;
    background-color: #181818;

    @media (max-width: 768px) {
        width: 30px;
        height: 30px;
    }
}
.view_text{
    display: inline-flex;
    align-items: flex-end;
    white-space: nowrap;


}

.view_text_brand{
    @media (max-width: 768px) {
        font-size: 50px;
    }
}

.view_text_title{
    @media (max-width: 768px) {
        font-size: 50px;
    }
}

.view_text h1:nth-child(2){
    opacity: 0.4;
}

/* team */

.team{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-top: 1px solid #cccccc;


    @media (max-width: 1680px) {
        padding: 100px 0;
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.marquee-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.marquee-wrapper.t-1{
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.team_name{
    font-family: "Courier Prime", serif;
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 240px;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translate(0%, -50%); }
    50% { transform: translate(-5%, -50%); }
    50.5% { transform: translate(-5%, -50%); }
    100% { transform: translate(0%, -50%); }
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;

    @media (max-width: 1700px) {
        height: 500px;
        width: 350px;
    }
    @media (max-width: 768px) {
        height: 400px;
        width: 250px;
    }
    @media (max-width: 425px) {
        height: 300px;
        width: 200px;
    }
}

.modal-images{
    width: 100%;
    height: 600px;

    @media (max-width: 1700px) {
        height: 500px;
        width: 350px;
    }
    @media (max-width: 768px) {
        height: 400px;
        width: 250px;
    }
    @media (max-width: 425px) {
        height: 300px;
        width: 200px;
    }
}

.role{
    margin: 5px 0;
}

.img{
    position: absolute;
    width: 100%;
    height: 600px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);

    @media (max-width: 1700px) {
        height: 500px;
        width: 350px;
    }
    @media (max-width: 768px) {
        height: 400px;
        width: 250px;
    }
    @media (max-width: 425px) {
        height: 300px;
        width: 200px;
    }
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img#t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.info{
    margin-top: 24px;
}

.t-1{
    background: var(--primary-color);
}
.t-2{
    background: #8a0f0f;
}
.t-3{
    background: var(--primary-color);
}
.t-4{
    background: #8e908a;
}

.info .name{
    font-size: 20px;
}


.info .role{
    font-size: 15px;
}

footer{
    height: 100vh;
    position: relative;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    color: var(--primary-color);
    border-top: 1px solid black;
}

.footer-wrapper{
    position: fixed;
    height: 100vh;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    display: flex;
    font-family: "Neue Montreal", sans-serif;
    font-weight: 100;
}

.footer-image{
    width: 40%;
    height: 100%;
    position: relative;
    background: url("images/footer.jpg") center center no-repeat;
    background-size: cover;

    @media (max-width: 600px) {
        display: none;
    }
}

.footer-image.dark{
    background: url("images/footer-dark.jpg") center center no-repeat;
}

.footer-inner-image{
    height: 600px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    background: url("images/footer.jpg") center center no-repeat;
    background-size: cover;

    @media (max-width: 1440px) {
        max-height: 550px;
        max-width: 300px;
    }
    @media (max-width: 1024px) {
        max-height: 350px;
        max-width: 200px;
    }
    @media (max-width: 600px) {
        display: none;
    }

}

.footer-inner-image.dark{
    background: url("images/footer-dark.jpg") center center no-repeat;
}

.footer-info{
    width: 60%;
    height: 100%;
    padding: 200px 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);

    @media (max-width: 1920px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width: 1680px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width: 600px) {
        width: 100%;
    }
    @media (max-width: 425px) {
        text-align: center;
    }
}

.footer .made-in{
    @media (max-width: 768px) {
        font-size: 10px;
    }
    @media (max-width: 533px) {
        display: none;
    }
}

.input-label{
    font-size: 60px;
    font-weight: 500;
    display: block;
    font-family: "Courier Prime", serif;
    margin: 30px 0 10px;

    @media (max-width: 1920px) {
        font-size: 40px;
    }
    @media (max-width: 1680px) {
        font-size: 35px;
    }
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

footer input{
    font-size: 15px;
    margin: 0 0 40px;
    border: 1px solid #797979;

    @media (max-width: 768px) {
        font-size: 14px;
        margin: 0 0 20px;
        width: 200px;
    }
    @media (max-width: 600px) {
        width: 150px;
        font-size: 10px;
    }
}

.footer-caption{
    font-size: 30px;
    margin: 0 0 50px;

    @media (max-width: 1920px) {
        font-size: 18px;
        margin: 0 0 30px;
    }
    @media (max-width: 1680px) {
        font-size: 16px;
        margin: 0 0 10px;
    }
    @media (max-width: 768px) {
        font-size: 10px;
    }
}

input{
    height: 40px;
    width: 250px;

    @media (max-width: 768px) {
        height: 30px;
        width: 200px;
    }
}

footer button{
    height: 40px;
    width: 100px;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}

.footer-ending{
    font-size: 20px;
    margin: 50px 0 0;

    @media (max-width: 1920px) {
        font-size: 18px;
        margin: 30px 0 0;
    }
    @media (max-width: 1680px) {
        font-size: 16px;
        margin: 30px 0 0;
    }
    @media (max-width: 768px) {
        font-size: 10px;
    }
}

.to-top{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #f1f1f1;
    margin: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1920px) {
        height: 100px;
        width: 100px;
    }
    @media (max-width: 600px) {
        margin: 50px 0;
        right: 50%;
        transform: translateX(50%);
    }
}